<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="/assets/Helping-Hand-Logo.png" height="50" class="d-inline-block align-top" alt="Helping Hand logo">
        Helping Hand
    </a>
    <form class="form-inline">
        <a href="/submit">Add a Service Organization</a>
    </form>
</nav>

<section>
    <div class="container-fluid">
        <h1>Add an Organization</h1>
    </div>
</section>

<form>
    <div class="container">
        <!-- CONTACT INFORMATION -->
        <!-- Organization Name -->
        <div class="form-group col-auto">
            <label for="org_name">Organization Name</label>
            <input type="name" class="form-control" id="org_name" aria-describedby="org name"
                placeholder="Organization's Full Name">
        </div>
        <!-- Phone Number and  -->
        <div class="form-row col-auto">
            <!-- Phone Number -->
            <div class="form-group col-md-6">
                <label for="phone">Phone Number</label>
                <input type="phone" class="form-control" id="phone_number" aria-describedby="phone number"
                    placeholder="123.456.7890">
            </div>
            <!-- Website -->
            <div class="form-group col-md-6">
                <label for="website">Website</label>
                <input type="website" class="form-control" id="website" aria-describedby="website"
                    placeholder="Website.org">
            </div>
        </div>
        <!-- Address -->
        <div class="form-group col-auto">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="address" placeholder="1234 Main St">
        </div>
        <!-- City, State, Zip -->
        <div class="form-row col-auto">
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="city">
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <select id="state" class="form-control">
                    <option selected>WA</option>
                    <!-- <option>...</option> -->
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="zip">
            </div>
        </div>
        <!-- Hours and days of operation -->
        <div class="form-group col-auto" id="operationInfo">
            <label for="operatingInfo">Please enter the organization's days and hours of operation</label>
            <!-- Row of dropdowns for choosing open and closing hours -->
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="openingTime">Opening Hours</label>
                    <select id="hour_open" class="form-control">
                        <option selected>Choose...</option>
                        <option>12:00 AM</option>
                        <option>1:00 AM</option>
                        <option>2:00 AM</option>
                        <option>3:00 AM</option>
                        <option>4:00 AM</option>
                        <option>5:00 AM</option>
                        <option>6:00 AM</option>
                        <option>7:00 AM</option>
                        <option>8:00 AM</option>
                        <option>9:00 AM</option>
                        <option>10:00 AM</option>
                        <option>11:00 AM</option>
                        <option>12:00 PM</option>
                        <option>1:00 PM</option>
                        <option>2:00 PM</option>
                        <option>3:00 PM</option>
                        <option>4:00 PM</option>
                        <option>5:00 PM</option>
                        <option>6:00 PM</option>
                        <option>7:00 PM</option>
                        <option>8:00 PM</option>
                        <option>9:00 PM</option>
                        <option>10:00 PM</option>
                        <option>11:00 PM</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="closingTime">Closing Hours</label>
                    <select id="hour_close" class="form-control">
                        <option selected>Choose...</option>
                        <option>12:00 AM</option>
                        <option>1:00 AM</option>
                        <option>2:00 AM</option>
                        <option>3:00 AM</option>
                        <option>4:00 AM</option>
                        <option>5:00 AM</option>
                        <option>6:00 AM</option>
                        <option>7:00 AM</option>
                        <option>8:00 AM</option>
                        <option>9:00 AM</option>
                        <option>10:00 AM</option>
                        <option>11:00 AM</option>
                        <option>12:00 PM</option>
                        <option>1:00 PM</option>
                        <option>2:00 PM</option>
                        <option>3:00 PM</option>
                        <option>4:00 PM</option>
                        <option>5:00 PM</option>
                        <option>6:00 PM</option>
                        <option>7:00 PM</option>
                        <option>8:00 PM</option>
                        <option>9:00 PM</option>
                        <option>10:00 PM</option>
                        <option>11:00 PM</option>
                    </select>
                </div>
            </div>
            <!-- Inline checkboxes for choosing days open -->
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="sunday" value="true">
                <label class="form-check-label" for="sundayCheck">Sunday</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="monday" value="true">
                <label class="form-check-label" for="mondayCheck">Monday</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="tuesday" value="true">
                <label class="form-check-label" for="tuesdayCheck">Tuesday</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="wednesday" value="true">
                <label class="form-check-label" for="wednesdayCheck">Wednesday</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="thursday" value="true">
                <label class="form-check-label" for="thursdayCheck">Thursday</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="friday" value="true">
                <label class="form-check-label" for="fridayCheck">Friday</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="saturday" value="true">
                <label class="form-check-label" for="saturdayCheck">Saturday</label>
            </div>
        </div>
        <!-- Serving Population Details -->
        <div class=" form-group col-auto" id="age">
            <label for="inlineFormInput">Min/Max Age Served</label>
            <div class="row">
                <div class="col-auto">
                    <input type="number" class="form-control form-control-lg mb-2" id="age_min" placeholder="18">
                </div>
                <div class="col-auto">
                    <input type="number" class="form-control form-control-lg mb-2" id="age_max" placeholder="55">
                </div>
            </div>
        </div>
        <!-- SERVICE QUESTIONS-->
        <div class="form-group col-md-6">
            <!-- Dropdown for Main -->
            <label for="org_type">Please select the organization's primary service</label>
            <select class="form-control" id="org_type">
                <option selected>Choose...</option>
                <option value="health">Health</option>
                <option value="daily_care">Daily Care</option>
                <option value="food">Food</option>
                <option value="shelter">Shelter</option>
            </select>
            <!-- Questions for Health -->
            <div class="form-group service" id="health">
                <label for="health_type">Please select the type of health services provided by your organization</label>
                <select class="form-control" id="health_type">
                    <option selected>Choose...</option>
                    <option id="urgent_care" value="urgent_care">Urgent Care</option>
                    <option id="dental" value="daily_care">Dental Health</option>
                    <option id="behavioral" value="behavioral">Behavioral Health</option>
                </select>
            </div>
            <!-- Questions for Daily Care -->
            <div class="form-group service" id="daily_care">
                <label for="daily_care">Describe the services your organization provides.</label>
                <textarea class="form-control" id="daily_care_info" rows="3" aria-describedby="detailed description"
                    placeholder="Shower, laundry, dental exams, etc."></textarea>
            </div>
            <!-- Questions for Food -->
            <div class="form-group service" id="food">
                <label for="foodServiceType">Please specify how you provide food.</label>
                <select class="form-control col-md-6" id="foodServiceType">
                    <option value="default">Choose...</option>
                    <option id="food_bank" value="foodBank">Food Bank</option>
                    <option id="meals_served" value="servedMeals">Served Meals</option>
                </select>
                <br>
                <label class="mealCheck" for="mealCheck">Please specify the kinds of meals served.</label>
                <br>
                <div class="mealCheck">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="meals_breakfast" value="true">
                        <label class="form-check-label" for="breakfastCheck">Breakfast</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="meals_lunch" value="true">
                        <label class="form-check-label" for="lunchCheck">Lunch</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="meals_dinner" value="true">
                        <label class="form-check-label" for="dinnerCheck">Dinner</label>
                    </div>
                </div>

            </div>
            <!-- Questions for Shelter -->
            <div class="form-group service" id="shelter">
                <label class="shelterType" for="shelterType">Please select the kind of housing provided by your
                    organization.</label>
                <select class="form-control col-md-6" id="shelterServiceType">
                    <option value="default">Choose...</option>
                    <option id="shelter_immediate" value="immediateShelter">Immediate Shelter</option>
                    <option id="shelter_longer_term" value="longerTermShelter">Longer-term Housing</option>
                </select>
                <label for="shelterRestrictionType">Please specify any restrictions, if any.</label>
                <select class="form-control" id="shelterType">
                    <option selected>Choose...</option>
                    <option id="male" value="menShelter">Men only</option>
                    <option id="female" value="womenShelter">Women only</option>
                    <option id="families_youth" value="familyShelter">Family & Youth</option>

                </select>
            </div>
            <br>
            <!-- Submit Button -->
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
</form>

<script>
    //Function to show specific questions for selected services
    $(document).ready(function showService() {
        $("#org_type").change(function () {
            $(this).find("option:selected").each(function () {
                var optionValue = $(this).attr("value");
                if (optionValue) {
                    $(".service").not("#" + optionValue).hide();
                    $("#" + optionValue).show();
                } else {
                    $(".service").hide();
                }
            });
        }).change();
    });
    //Function to show inline checkboxes for served meals
    $(document).ready(function showMeals() {
        $("#foodServiceType").change(function () {
            $(this).find("option:selected").each(function () {
                if (this.value == "servedMeals") {
                    $(".mealCheck").show();
                } else {
                    $(".mealCheck").hide();
                }
            });
        }).change();
    });
</script>

<script src="/js/helpinghand.js"></script>